﻿<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <script src="~/Scripts/modernizr-2.6.2.js"></script>

    <link href="~/Content/jquery.dropdown.min.css" rel="stylesheet" type="text/css" />
    <link href="https://www.jqueryscript.net/css/jquerysctipttop.css" rel="stylesheet" type="text/css">
    @*<link rel="stylesheet" type="text/css" href="https://bootswatch.com/superhero/bootstrap.min.css">*@
    <script type="text/javascript" src="~/Scripts/mock.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <link href="~/Content/jquery.dropdown.min.css" rel="stylesheet" type="text/css" />
    <script src="~/Scripts/jquery.dropdown.min.js"></script>
    <script src="~/Scripts/resize.js"></script>
    <style>
        input, select, textarea, .dropdown-display-label {
            max-width: 100%;
        }

        body {
            padding-bottom: 0px !important;
            padding-top: 50px !important;
        }

        .body-content {
            margin: 1% !important;
            min-width: 97% !important;
        }

        textarea {
            overflow: auto;
        }

        a:hover {
            color: black !important;
        }

        .container {
            margin-left: 0px;
        }
    </style>
    @RenderSection("styles", false)
</head>
<body>

    <div class="navbar navbar-inverse navbar-fixed-top" style="line-height: 15px; background-color:#ffffff;border-color:#ffffff;">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>

                <a class="navbar-brand w-100 mr-0" href="/Quiz/GetAllQuestions" style="line-height: 15px;">
                    <div class="d-table m-auto">
                        <img id="main-logo" class="d-inline-block align-top mr-1" style="max-width: 25px;" src="~/Content/images/shards-dashboards-logo.svg" alt="Shards Dashboard">
                        <span class="d-none d-md-inline ml-1">Quiz Mania</span>
                    </div>
                </a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav"></ul>
            </div>
        </div>
    </div>

    <div id="header_container">
        <div id="header">
            @*<i>@ViewBag.Title</i>*@
            <span style="float:right; font-size:small">
                @*@if (HttpContext.Current.User.Identity.IsAuthenticated)
                    {
                        var identity = ((CustomPrincipal)HttpContext.Current.User);
                        @Html.Label(string.Format("Welcome {0} {1}", identity.FirstName, identity.LastName))
                        @Html.ActionLink("Log out", "LogOut", "Account")
                    }*@
            </span>
        </div>
    </div>


    @RenderBody()




    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
    @RenderSection("scripts", false)
</body>
</html>
