﻿@model CustomAuthenticationMVC.DataAccess.Question

@{
    ViewBag.Title = "AddQuestion";
    Layout = "~/Views/Shared/_LayoutEmpty.cshtml";
}

@section styles {

}

<div class="container body-content">


    @using (Html.BeginForm(null, null, FormMethod.Post, new { id = "signupform" }))
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="row">


            <div class="form-group">
                <div class="col-md-12">
                    @Html.TextAreaFor(model => model.QuestionText, htmlAttributes: new { @class = "form-control", @rows = "3", @id = "questionbx", @placeholder = "Question", @style = "", @required = "required", @tabindex = "1" })
                    @Html.ValidationMessageFor(model => model.QuestionText, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-12">
                    @Html.TextAreaFor(model => model.RightAnswer, htmlAttributes: new { @class = "form-control", @placeholder = "Answer", @id = "answerbx", @rows = "4", @style = "", @tabindex = "2" })
                    @Html.ValidationMessageFor(model => model.RightAnswer, "", new { @class = "text-danger" })
                </div>
            </div>











            <div class="row">


                <div class="form-group col-md-6">
                    <div class="col-md-12">
                        @Html.TextAreaFor(model => model.OptionA, htmlAttributes: new { @class = "form-control", @placeholder = "Option A", @tabindex = "3", @rows = "1" })
                        @Html.ValidationMessageFor(model => model.OptionA, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group col-md-6">
                    <div class="col-md-12">
                        @Html.TextAreaFor(model => model.OptionB, htmlAttributes: new { @class = "form-control", @placeholder = "Option B", @tabindex = "4", @rows = "1" })
                        @Html.ValidationMessageFor(model => model.OptionB, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group col-md-6">
                    <div class="col-md-12">
                        @Html.TextAreaFor(model => model.OptionC, htmlAttributes: new { @class = "form-control", @placeholder = "Option C", @tabindex = "5", @rows = "1" })
                        @Html.ValidationMessageFor(model => model.OptionC, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group col-md-6">
                    <div class="col-md-12">
                        @Html.TextAreaFor(model => model.OptionD, htmlAttributes: new { @class = "form-control", @placeholder = "Option D", @tabindex = "6", @rows = "1" })
                        @Html.ValidationMessageFor(model => model.OptionD, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group col-md-6">
                    <div class="col-md-12">
                        @Html.TextAreaFor(model => model.OptionE, htmlAttributes: new { @class = "form-control", @placeholder = "Option E", @tabindex = "7", @rows = "1" })
                        @Html.ValidationMessageFor(model => model.OptionE, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group col-md-6">
                    <div class="col-md-12">
                        @Html.TextAreaFor(model => model.OptionF, htmlAttributes: new { @class = "form-control", @placeholder = "Option F", @tabindex = "8", @rows = "1" })
                        @Html.ValidationMessageFor(model => model.OptionF, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group col-md-6">
                    <div class="col-md-12">
                        @Html.TextAreaFor(model => model.QuestionDescription, htmlAttributes: new { @class = "form-control", @placeholder = "Description", @tabindex = "9", @rows = "1" })
                        @Html.ValidationMessageFor(model => model.QuestionDescription, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group col-md-6">
                    <div class="col-md-12">
                        @Html.TextAreaFor(model => model.QuestionPicPath, htmlAttributes: new { @class = "form-control", @placeholder = "Picture Path", @tabindex = "10", @rows = "1" })
                        @Html.ValidationMessageFor(model => model.QuestionPicPath, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group col-md-6">
                    <div class="col-md-12">
                        @Html.TextAreaFor(model => model.QuestionTags, htmlAttributes: new { @class = "form-control", @id = "target", @placeholder = "Tags", @required = "required", @rows = "1" })
                        @Html.ValidationMessageFor(model => model.QuestionTags, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group col-md-6">
                    <div class="dropdown-mul-1 col-md-12">
                        <select style="display:none" name="" class="form-control" id="" multiple placeholder="Select"> </select>
                    </div>
                    @Html.ValidationMessageFor(model => model.QuestionTags, "", new { @class = "text-danger" })
                </div>
            </div>


            <div class="form-group">
                <div class="col-md-12">
                    <input type="submit" value="Add Question" style="min-width:100%;" class="btn btn-primary" id="submitButton" onclick="return submitForm()" />
                </div>
            </div>


        </div>
    }
    @*<div class="jquery-script-clear"></div>*@
</div>


@*<div>
        @Html.ActionLink("Back to List", "Index")
    </div>*@



@section scripts {
    <script>
            $('#questionbx').focus();
            function submitForm(){
                if ($('#questionbx').val() == "") {
                    $("#questionbx").css("border-color", "red");
                    return false;
                }
                if ($('#target').val() == "") {
                    $("#target").css("border-color", "red");
                    return false;
                }
                document.getElementById('signupform').submit();
            }
            $(document).keydown(function (e) {
                if (e.which === 83 && e.ctrlKey) {
                    e.preventDefault();
                    //$('#submitButton').click();
                    submitForm();
                }
            });
            $("#questionbx").focus(function () {
                $("#questionbx").css("border-color", "#ccc");
            });
            $("#target").focus(function () {
                $("#target").css("border-color", "#ccc");
            });

            var dropDownData = [];
            var dropDownValue = [];
            function addTag() {
                var tagName = $('#tagSearch').val();
                var tagId = (dropDownData[dropDownData.length - 1].id + 1).toString();
                dropDownData.push({ name: tagName, id: tagId.toString() });
                $('.dropdown-mul-1').data('dropdown').update(dropDownData, true);
                //$('.dropdown-mul-1').data('dropdown').config.data.push({ name: tagName, id: tagId });
                $('.dropdown-mul-1').data('dropdown').choose(tagId, true);
                var url = "/Quiz/AddTag?tagName=" + $('#tagSearch').val();
                $.get(url, function (data) {
                    //$(".result").html(data);
                    //dropDown.config.data.push({ name: tagName, id: '33', selected: true });
                });
                $('#tagSearch').val("");

            }

            function getTags() {
                var url = "/Quiz/GetTags";
                $.get(url, function (data) {
                    dropDownData = data.map(function (item) {
                        var newObject = { name: item.TagName, id: item.TagId }
                        return newObject;
                    });
                    $('.dropdown-mul-1').data('dropdown').update(dropDownData, true);
                });
            }
            @if (@ViewBag.tags != null)
            {
                <Text>
                $('#target').val(ViewBag.tags.toString());
                </Text>
            }

            $(document).ready(function () {
                $('.dropdown-mul-1').dropdown({
                    data: [],
                    limitCount: 40,
                    multipleMode: 'label',
                    choice: function () {
                        //console.log(arguments, this);
                        if (arguments && arguments[1] == null && arguments[0].target.parentElement.textContent) {
                            //alert(arguments[0].target.parentElement.textContent + " removed");
                            dropDownValue.pop(arguments[0].target.parentElement.textContent);
                            $('#target').val(dropDownValue.join(','));
                        }
                        if (arguments && arguments[1].selected == true) {
                            //alert(arguments[1].name + " selected");
                            dropDownValue.push(arguments[1].name);
                            $('#target').val(dropDownValue.join(','));
                            //var value = $('#target').val();
                            //$('#target').val(value + ',' + arguments[1].name);
                        }
                        if (arguments && arguments[1].selected == false) {
                            //alert(arguments[1].name + " removed");
                            dropDownValue.pop(arguments[1].name);
                            $('#target').val(dropDownValue.join(','));
                        }
                    //$('.dropdown-mul-1').data('dropdown').update(dropDownData, true);
                    },
                    init: function () {
                        getTags();
                    },
                    input: '<input type="text" maxLength="500" style="height:23px;" id="tagSearch" placeholder="Select Tags...">',
                    searchNoData: '<button class="btn btn-default col-md-12 col-sm-12 col-lg-12" style="color:blue" onclick="addTag()">Add</button>',
                });

            });
        $('textarea').autoResize();
        $(function () {
            $('textarea').each(function () {
                $(this).height($(this).prop('scrollHeight')-12);
            });
        });
    </script>
}