﻿@model CustomAuthenticationMVC.DataAccess.Question

@{
    ViewBag.Title = "AddQuestion";
    Layout = "~/Views/Shared/_LayoutEmpty.cshtml";
}

@section styles {

}

<div class="container body-content">

    <div>

    </div>

</div>

@section scripts {
    <script>
        var mode = "@ViewBag.Mode";
        function getQuizQuestions(mode) {
            var url = "/Quiz/GetQuizQuestions?tagName=@ViewBag.mode";
                $.get(url, function (data) {
                    //dropDownData = data.map(function (item) {
                    //    var newObject = { name: item.TagName, id: item.TagId }
                    //    return newObject;
                    //    console.log(data);
                    //});
                    console.log(data);
                    //$('.dropdown-mul-1').data('dropdown').update(dropDownData, true);
                });
            }
            @if (@ViewBag.tags != null)
            {
                <Text>
                $('#target').val(ViewBag.tags.toString());
                </Text>
            }
        getQuizQuestions();
    </script>
}