﻿@model PagedList.IPagedList<CustomAuthenticationMVC.DataAccess.Question>
@using PagedList;
@using PagedList.Mvc;
@section styles {
<style>
    tr:hover {
        background-color: #cfd7e6;
    }
    table {
        font-weight:100;
        margin-bottom:40px!important;
    }
    td {
        padding:0px!important;
    }
    .pagination>li {
        margin-left:20px;
    }
</style>
}
@{TempData.Keep();}
<div class="main-content-container container-fluid px-4">
    <!-- Page Header -->
    <!-- End Page Header -->


    @using (Html.BeginForm("GetAllQuestions", "Quiz", FormMethod.Get, new { @style = "margin-top:15px" }))
    {
        <div class="form-row">
            <div class="form-group col-md-3">
                @Html.TextBox("SearchString", TempData["CurrentFilter"] as string, new { @class = "form-control", @placeholder = "Tag / Text" })
            </div>
            <div class="form-group col-md-3">
                @Html.TextBox("userString", TempData["UserFilter"] as string, new { @class = "form-control", @placeholder = "Username" })
            </div>
            @*<div class="form-group col-md-2">
                    @Html.TextBox("completedString", TempData["CompletedFilter as string, new { @class = "form-control", @placeholder = "Ready" })
                </div>*@
            <div class="form-group col-md-2">
                <div class="custom-control custom-toggle custom-toggle-sm mb-1" style="margin-top:5px;">
                    <input type="checkbox" id="customToggle2" name="completedString" class="custom-control-input" @if (@TempData["CompletedFilter"] != null) { <text> checked</text> }>
                    <label class="custom-control-label" for="customToggle2">Verified</label>
                </div>
            </div>
            <div class="form-group col-md-2">
                <input type="submit" class="mb-2 btn btn-primary mr-1" value="Search" />
            </div>
            @*<div class="form-group col-md-3">
                    @Html.TextBox("SearchString", TempData["CurrentFilter as string, new { @class = "form-control", @placeholder = "Tag / Text" })
                </div>*@

        </div>
    }

    <table class="table" style="table-layout:fixed;">
        <tr>
            <th style="width:13%;">
                @Html.ActionLink("Tags", "GetAllQuestions", new { sortParam = "tags", currentFilter = TempData["CurrentFilter"], userFilter = TempData["UserFilter"], completedFilter = TempData["CompletedFilter"] })
            </th>
            <th style="width:90%;">
                @Html.ActionLink("Question", "GetAllQuestions", new { sortParam = "question", currentFilter = TempData["CurrentFilter"], userFilter = TempData["UserFilter"], completedFilter = TempData["CompletedFilter"] })
            </th>
            <th style="width:7%;">Action</th>
        </tr>

        @foreach (var item in Model)
        {
            <tr class='clickable-row' data-href='/Quiz/EditQuestion?questionId=@item.QuestionId' style="cursor:pointer;">
                <td style="white-space: nowrap; overflow: hidden; width:20%;">
                    @Html.DisplayFor(modelItem => item.QuestionTags)
                </td>
                <td style="white-space: nowrap; overflow: hidden; width:80%;">
                    @Html.DisplayFor(modelItem => item.QuestionText)
                </td>

                <td style="white-space: nowrap; overflow: hidden; width:20%;">
                    @Html.ActionLink("Delete", "DeleteQuestion", new { questionId = item.QuestionId })
                </td>
            </tr>
        }

    </table>
    @*Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount*@
    <br />
    @*@Html.PagedListPager(Model, page => Url.Action("GetAllQuestions", new { page }))*@
    <div style="margin-left:40%">
        
            @Html.PagedListPager(Model, page => Url.Action("GetAllQuestions",
        new { page, sortParam = TempData["NameSortParm"], sortOrder = TempData["CurrentSort"], currentFilter = TempData["CurrentFilter"], userFilter = TempData["UserFilter"], completedFilter = TempData["CompletedFilter"] }))
        </div>
    
</div>


@section scripts {
    <script>
        jQuery(document).ready(function ($) {
            $(".clickable-row").click(function () {
                window.location = $(this).data("href");
            });
        });
    </script>
}
